@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap');
.container{
    width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    /* border: solid 1px black; */
    padding-top: 40px;
    
}

.sectionhead{
    display: flex;
    align-items: center;
    padding:  0 165px;
    height: 100px;  
    justify-content: space-between;
    
}
.headerlist1{
    display: flex;
    list-style-type: none;
    font-family: Red Hat Display;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    width: 338px;
    justify-content: space-between;
    padding: 0;
    cursor: pointer;

}

.headerlinks{
    opacity: 0.5;
    color: #25202F;
    text-decoration: none;
}
.nav-first-div{
    display: flex;
    align-items: center;
    width: 480px;
    justify-content: space-between;
}
.headerlinks.active{
    opacity: 0.9;
}


.dropbtn {
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(198, 185, 233, 0.3);
    
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: Red Hat Display;
    font-style: normal;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(198, 185, 233, 0.3);
}

/* ---------------section-main-------------- */

.sectionmain1{
    display: flex;
    padding:  0 165px;
}
.adam1{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    
    

    color: #666666;
}
.mainpargrahp {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */
    margin-bottom: 50px;

    color: #25202F;

}
.lets{
    background: #8643DC;
    border-radius: 100px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */
    border: none;
    text-align: center;
    Width: 200px; Height: 60px;
    color: #FFFFFF;
    cursor: pointer;
}
.adam{
    
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    margin: 0;
    margin-top: 18px;
    
    

}
.hello{
    
    height: 350px;
    margin-top: 100px ;
}
.mainimg{
    position: absolute;
    width: 535px;
    height: 622px;
    left: 664px;
    top: 46px;
    
}
.firstposition1{
    position: absolute;
    left: 89.31%;
    right: 2.64%;
    top: 4.08%;
    bottom: 93.46%;

    
}
.firstposition2 {
    position: absolute;
    left: 94.45%;
    right: 4.88%;
    top: 6.80%;
    bottom: 93.06%;
}
.firstposition3 {
    position: absolute;
    left: 53.9%;
    right: 45.62%;
    top: 16.89%;
    bottom: 84.06%;
    
}
.firstposition4 {
    position: absolute;
    left: 83.28%;
    right: 16.24%;
    top: 5.79%;
    bottom: 94.27%;

}
.firstposition5 {
    position: absolute;
    left: 46.82%;
    right: 52.7%;
    top: 4.2%;
    bottom: 96.15%;

}
.firstposition6 {
    position: absolute;
    left: 81.11%;
    right: 14.58%;
    top: 10.36%;
    bottom: 89.21%;


}
.firstposition7 {
    position: absolute;
    left: 74.18%;
    right: 25.34%;
    top: 0.57%;
    bottom: 99.39%;

     
}
.firstposition8 {
    position: absolute;
    width: 373px;
    height: 373px;
    left: 913px;
    top: 126px;
    
    
    

}
.firstposition9 {
    position: absolute;
    left: 78.89%;
    right: 16.8%;
    top: 4.57%;
    bottom: 94.9%;


}
.firstposition10 {
    position: absolute;
    left: 42.63%;
    right: 53.26%;
    top: 11.86%;
    bottom: 88.21%;


}
/* ----------pageofmain1------------ */
.pageofmain1{
    margin-top: 200px;
    padding: 0 165px;
}
.services{
    font-family: Red Hat Display;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 5px 0;
    


    color: #8643DC;
}
.sectionhr1{
    width: 50px;
    height: 2px;
    background:#8643DC;
    border: none;
    position: absolute;
   
    
    
}
.sectionh2{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    width: 236px;
    height: 96px;
    color: #25202F;

}
h4{
    font-weight: normal;
}
.sectionlist2{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin-top: 40px;
}
.sectiondiv1{
    display: flex;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    


    color: #25202F;
}
.sectionli2{
    width: 350px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    


    color: #47444E;
}
.liicons{
    margin-right: 20px ;
}
.sectionparagraph {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    
    color: #000000;
    margin: 0;

}
/* ------------------pageofmain2 -----------------*/
.pageofmain2{
    margin-top: 90px;
    background: linear-gradient(180deg, rgba(187, 133, 255, 0.14) 0%, rgba(255, 177, 222, 0.14) 100%);
    width: auto;
    padding: 30px 165px;
    
    height: 675px;

}
.sectionhr2 {
    width: 50px;
    height: 2px;
    background: #8643DC;
    border: none;
    position: absolute;
    

}
.sectiondiv3{
    display: flex;
    position: absolute;
    color: rgba(37, 32, 47, 1);
   left: auto;
  
   left: 1095px;
   top: 1368px;
}



.exploremore {
    

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */
    color: rgba(37, 32, 47, 1);
    text-decoration-line: underline;
    margin-right: 10px;
}

.sectionimg4-1{
    position: absolute;
    /* width: 540px; */
    /* height: 427px; */
    left: 115px;
    top: 1475px;

    
    filter: drop-shadow(0px 20px 50px rgba(220, 192, 255, 0.3));
    border-radius: 10px;
}
.sectionimg4-2{
    position: absolute;
    /* width: 540px;
    height: 427px; */
    left: 685px;
    top: 1475px;
    
    
    filter: drop-shadow(0px 20px 50px rgba(220, 192, 255, 0.3));
    border-radius: 10px;
}

/* ----------------------pageofmain3------------------ */
.pageofmain3{
    margin-top: 120px;
    width: AUTO;
    padding: 0 165px;
}
.sectionhr3{
    width: 50px;
    height: 2px;
    background: #8643DC;
    border: none;
    position: absolute;
    width: 50px;
    height: 2px;
    left: 165px;
    top: 2180px;
}
.sectionh2_0{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    width: 200px;
    height: 96px;
    color: #25202F;
}
.sectionlist3{
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */
    padding: 0;
    text-align: center;

    color: #000000;
}
.sectionli3{
    background: #FFF7FA;
    border: 1px solid #FFE7F0;
    box-sizing: border-box;
    border-radius: 10px;
    Width: 170px ;
    Height: 170px;
    padding-top: 35px;

}
.sectionli3:nth-child(2){
    background: #EDFFF5;
    border: 1px solid #CAFFE1;
}
.sectionli3:nth-child(3) {
    background: #F5FCFF;
    border: 1px solid #DDF5FF;
}
.sectionli3:nth-child(4) {
   background: #FFFBF2;
   border: 1px solid #FFEEC9;
}
.sectionli3:nth-child(5) {
    background: #F4FFED;
    border: 1px solid #DBFFC4;
}
/* ------------pageofmain4---------- */
.pageofmain4{
    margin-top: 120px;
    height: 722px;
    background: linear-gradient(180deg, rgba(203, 163, 255, 0.2) 0%, rgba(197, 255, 176, 0.2) 100%);  
    padding: 50px 165px;
    box-sizing: border-box;
    
}
.sectionhr4{
    width: 50px;
    height: 2px;
    background: #8643DC;
    border: none;
    position: absolute;
   width: 50px;
   height: 2px;
   
}
.sectionparagraph5{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */

    text-align: center;

    color: #636066;
    
}
.sectiondiv5{
    width: 570px;
    /* border: solid 1px black; */
    margin: auto auto;
    
    
}
.sectionparagraph1{
    text-align: center;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    margin: 0;

    color: #000000;
}
.imgoverparagraph{
    margin-left: 270px;
}
.imgbelowparagraph{
    margin-left: 240px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100px;
    
}
.name{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    margin: 0;
    color: #000000;
    margin-bottom: 6px;
}

.pager{
    margin-top: 50px;
    margin-left: 200px;
}
.imgoffaces1{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 330px;
    top: 3137px;
    border-radius: 15px;
    opacity: 0.7;
    mix-blend-mode: normal;
}
.imgoffaces2 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 1054px;
    top: 3137px;
    border-radius: 15px;
    opacity: 0.7;
    mix-blend-mode: normal;
}
.imgoffaces3 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 1168px;
    top: 2885px;
    border-radius: 15px;
    opacity: 0.7;
    mix-blend-mode: normal;
}
.imgoffaces4 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 194px;
    top: 2885px;
    border-radius: 15px;
    opacity: 0.7;
    mix-blend-mode: normal;
}
/* ---------------pageofmain5----------- */
.pageofmain5{
    margin-top: 120px;
    height: 800px;
    width: auto;
    padding: 0 165px;
    
}
.sectionhr5{
    width: 50px;
    height: 2px;
    background: #8643DC;
    border: none;
    position: absolute;
    width: 50px;
    height: 2px;
   
}
.sectiondiv6_1{
    position: absolute;
    width: 350px;
    height: 233px;
    
    left: 355px;
    top: 3456px;

}
.naps{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    
    color: #8643DC;
}
.sectiondiv6paragraph{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    margin: 10px 0;
    color: #000000;
}

.section-blog-img1{
    position: absolute;
    width: 255px;
    height: 350px;
    left: 735px;
    top: 3456px;
    opacity: 0.8;

}
.section-blog-img2 {
    position: absolute;
    width: 255px;
    height: 350px;
    left: 1020px;
    top: 3456px;
    opacity: 0.8;
}
.tech{
    margin-bottom: 10px;
}
.snaps{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    
    color: #FFFFFF;
    
}
.sectiondiv6paragraph6{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    color: #FFFFFF;
}
.sectiondiv6{
    position: absolute;
    width: 197px;
    height: 21px;
    left: 755px;
    top: 3678px;
    z-index: 1;
    
}
.sectiondiv6-6{
    position: absolute;
    width: 212px;
    height: 21px;
    left: 1040px;
    top: 3696px;
    z-index: 1;
}